/* Font in general part */
html, body, footer {
    /* Add Declaration For example */
    /*
    font-family: "Roboto", sans-serif;
    color: royalblue;
    */
}

/* h1 Selector */
h1 {
    /* Add Declaration */
    /*
    font-family: "Roboto", sans-serif;
    color: royalblue;
    */
}


